<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" href="/img/logo.svg" type="image/svg+xml" />
</head>

<body>
    <%- include('partials/navbar.ejs', { page: currentPage , username: currentUsername }); %>

    <div class="<%= locals.mainClass ? mainClass : 'main-content' %>">
        <% body.forEach(function(bodyPart) { %>
            <%- include(bodyPart) %>
        <% }) %>
    </div>

    <%- scripts %>
</body>

</html>
