<div id="navbar">
  <div class="navbar-item-group-left">
    <a href="home" class="<%= page === 'home' ? 'active' : '' %>">
      <div class="navbar-logo"></div>
    </a>
    <a class="navbar-link <%= page === 'home' ? 'active' : '' %>" href="home">Home</a>
    <a class="navbar-link <%= page === 'analyze' ? 'active' : '' %>" href="analyze">Analyze</a>
    <a class="navbar-link <%= page === 'history' ? 'active' : '' %>" href="history">History</a>
    <% if (isAdmin) { %>
      <a class="navbar-link <%= page === 'admin' ? 'active' : '' %>" href="admin">Admin</a>
    <% } %>
    <a class="navbar-link <%= page === 'help' ? 'active' : '' %>" href="help">Help</a>
  </div>
  <div class="navbar-item-group-right">
    <div class="navbar-user-icon"></div>
    <%= username ? username : 'Guest' %>
    <div class="down-arrow-icon"></div>
    <div class="navbar-dropdown-content">
      <a id="log-out-button">
        <div class="logout-icon"></div>
        <span>Log out</span>
      </a>
    </div>
  </div>
</div>

<script src="js/utilities/navbar-script.js"></script>