<div id="navbar">
  <div class="navbar-item-group-left">
    <a href="home.html" class="<%= page === 'home' ? 'active' : '' %>"><img id="navbar-logo"
        src="img/navbar_logo.svg" /></a>
    <a class="navbar-link <%= page === 'home' ? 'active' : '' %>" href="home">Home</a>
    <a class="navbar-link <%= page === 'analyze' ? 'active' : '' %>" href="analyze">Analyze</a>
    <a class="navbar-link <%= page === 'history' ? 'active' : '' %>" href="history">History</a>
    <a class="navbar-link <%= page === 'admin' ? 'active' : '' %>" href="admin">Admin</a>
    <a class="navbar-link <%= page === 'help' ? 'active' : '' %>" href="help">Help</a>
  </div>
  <div class="navbar-item-group-right">
    <img id="navbar-user-icon" src="img/person.svg" />
    <div id="navbar-user">
      <%= username ? username : 'Guest' %>
    </div>
    <img class="down-arrow-icon" src="img/arrow_drop_down.svg" />
  </div>

  <div id="dropdown-content" class="dropdown-content">
    <a id="log-out-button">Log out</a>
  </div>
</div>

<script src="js/utilities/navbar-script.js"></script>