<div class="tabs">
    <div class="tab" id="tab-user-application" data-tab="user">User Applications (<%= userRequests.length %>)</div>
    <div class="tab" id="tab-package-request" data-tab="package">Package Requests (<%= packageRequests.length %>)</div>
    <div class="tab" id="tab-user-management">User Management</div>
</div>
  <div class="tab-content">
    <%- include('tab-user-applications.ejs'); %>
    <%- include('tab-package-requests.ejs'); %>
    <%- include('tab-user-management.ejs'); %>
</div>