<div class="item-section">
  <div class="<%= type === 'user' ? 'item-list user-list' : 'item-list package-list' %>">
    <% let items=type==='user' ? userRequests : packageRequests; %>
      <% items.forEach((item)=> { %>
        <% if (type==='user' ) { %>
          <div class="user-application" id="<%= item.id %>"
            data-name="<%= item.first_name + ' ' + item.last_name %>" data-email="<%= item.email %>"
            data-application-message="<%= item.message %>">
            <div class="user-info">
              <div class="small-header">
                <%= item.first_name + ' ' + item.last_name %>
              </div>
              <div class="smaller-header">
                <%= item.email %>
              </div>
            </div>
          </div>
          <% } else if (type==='package' ) { %>
            <div class="package-request" id="package-<%= item.id %>"
              data-name="<%= item.name_package %>"
              data-email="<%= item.user.email %>"
              data-package-link="<%= item.link %>"
              data-user-name="<%= item.user.first_name + " " + item.user.last_name %>"
              data-application-message="<%= item.message %>">
              <div class="package-info">
                <div class="small-header">
                  <%= item.name_package %>
                </div>
                <div class="smaller-header">
                  <%= item.user.first_name + " " + item.user.last_name %>
                </div>
              </div>
            </div>
            <% } %>
              <% }); %>
  </div>
  <div id="<%= type === 'user' ? 'user-content' : 'package-content' %>" class="item-content">
    <% if (type === 'user') { %>
      <%- include('user-application.ejs'); %>
    <% } else if (type === 'package') { %>
      <%- include('package-request.ejs'); %>
    <% } %>
  </div>
  <div id="<%= type === 'user' ? 'user-no-content-selected' : 'package-no-content-selected' %>"
    class="no-content-selected large-thin-header show-content"></div>
</div>