<table id="user-table" class="table">
  <tbody class="table-body">
    <tr class="table-header">
      <th><a href="#" class="light-text">Name</a></th>
      <th><a href="#" class="light-text">Email</a></th>
      <th><a href="#" class="light-text">Last login</a></th>
      <th><a href="#" class="light-text">Role</a></th>
    </tr>
    <% users.forEach(user => { %>
      <tr class="table-row">
        <td class="table-cell">
          <%= user.first_name %> <%= user.last_name %>
        </td>
        <td class="table-cell">
          <a class="email-link" href="mailto: <%= user.email %>"><%= user.email %></a>
        </td>
        <td class="table-cell light-text">
          <% if (user.last_login) { %>
            <% const lastLoginDate = new Date(user.last_login); %>
            <% const formattedDate = `${lastLoginDate.getFullYear()}/${(lastLoginDate.getMonth() + 1).toString().padStart(2, '0')}/${lastLoginDate.getDate().toString().padStart(2, '0')}`; %>
            <%= formattedDate %>
          <% } else { %>
            N/A
          <% } %>
        </td>
        <td class="table-cell light-text">
          <%= user.id_role === 0 ? 'Admin' : 'User' %>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<script src="js/admin/user-management.js"></script>
<script src="js/utilities/table-script.js"></script>